fastapi
uvicorn
streamlit
requests
torch
transformers
shap
detoxify
openai-whisper
matplotlib
numpy
fpdf2
sqlalchemy
python-dateutil
pandas
plotly
librosa
soundfile
langdetect
pydantic
apscheduler
email-validator
scikit-learn
requests
python-jose[cryptography]
passlib[bcrypt]
python-multipart
